@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?v7ykw0');
	src:url('fonts/icomoon.eot?v7ykw0#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?v7ykw0') format('truetype'),
		url('fonts/icomoon.woff?v7ykw0') format('woff'),
		url('fonts/icomoon.svg?v7ykw0#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*="icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-ICON-01:before {
	content: "\e900";
}
.icon-ICON-02:before {
	content: "\e901";
}
.icon-ICON-03:before {
	content: "\e902";
}
.icon-ICON-04 .path1:before {
	content: "\e903";
	color: rgb(45, 63, 77);
		font-family: 'icomoon';
}
.icon-ICON-04 .path2:before {
	content: "\e904";
	margin-left: -1em;
	color: rgb(212, 164, 138);
		font-family: 'icomoon';
}
.icon-ICON-04 .path3:before {
	content: "\e905";
	margin-left: -1em;
	color: rgb(229, 189, 165);
		font-family: 'icomoon';
}
.icon-ICON-04 .path4:before {
	content: "\e906";
	margin-left: -1em;
	color: rgb(229, 189, 165);
		font-family: 'icomoon';
}
.icon-ICON-04 .path5:before {
	content: "\e907";
	margin-left: -1em;
	color: rgb(238, 212, 187);
		font-family: 'icomoon';
}
.icon-ICON-04 .path6:before {
	content: "\e908";
	margin-left: -1em;
	color: rgb(238, 212, 187);
		font-family: 'icomoon';
}
.icon-ICON-04 .path7:before {
	content: "\e909";
	margin-left: -1em;
	color: rgb(230, 231, 232);
		font-family: 'icomoon';
}
.icon-ICON-04 .path8:before {
	content: "\e90a";
	margin-left: -1em;
	color: rgb(230, 231, 232);
		font-family: 'icomoon';
}
.icon-ICON-04 .path9:before {
	content: "\e90b";
	margin-left: -1em;
	color: rgb(51, 69, 79);
		font-family: 'icomoon';
}
.icon-ICON-04 .path10:before {
	content: "\e90c";
	margin-left: -1em;
	color: rgb(183, 197, 206);
		font-family: 'icomoon';
}
.icon-ICON-04 .path11:before {
	content: "\e90d";
	margin-left: -1em;
	color: rgb(174, 61, 62);
		font-family: 'icomoon';
}
.icon-ICON-04 .path12:before {
	content: "\e90e";
	margin-left: -1em;
	color: rgb(34, 43, 48);
		font-family: 'icomoon';
}
.icon-ICON-04 .path13:before {
	content: "\e90f";
	margin-left: -1em;
	color: rgb(34, 43, 48);
		font-family: 'icomoon';
}
.icon-ICON-04 .path14:before {
	content: "\e910";
	margin-left: -1em;
	color: rgb(174, 61, 62);
		font-family: 'icomoon';
}
.icon-ICON-04 .path15:before {
	content: "\e911";
	margin-left: -1em;
	color: rgb(255, 255, 255);
		font-family: 'icomoon';
}
.icon-ICON-04 .path16:before {
	content: "\e912";
	margin-left: -1em;
	color: rgb(255, 255, 255);
		font-family: 'icomoon';
}
.icon-ICON-04 .path17:before {
	content: "\e913";
	margin-left: -1em;
	color: rgb(91, 47, 22);
		font-family: 'icomoon';
}
.icon-ICON-04 .path18:before {
	content: "\e914";
	margin-left: -1em;
	color: rgb(91, 47, 22);
		font-family: 'icomoon';
}
.icon-ICON-05 .path1:before {
	content: "\e915";
	color: rgb(212, 164, 138);
		font-family: 'icomoon';
}
.icon-ICON-05 .path2:before {
	content: "\e916";
	margin-left: -1em;
	color: rgb(190, 209, 220);
		font-family: 'icomoon';
}
.icon-ICON-05 .path3:before {
	content: "\e917";
	margin-left: -1em;
	color: rgb(229, 189, 165);
		font-family: 'icomoon';
}
.icon-ICON-05 .path4:before {
	content: "\e918";
	margin-left: -1em;
	color: rgb(229, 189, 165);
		font-family: 'icomoon';
}
.icon-ICON-05 .path5:before {
	content: "\e919";
	margin-left: -1em;
	color: rgb(238, 212, 187);
		font-family: 'icomoon';
}
.icon-ICON-05 .path6:before {
	content: "\e91a";
	margin-left: -1em;
	color: rgb(238, 212, 187);
		font-family: 'icomoon';
}
.icon-ICON-05 .path7:before {
	content: "\e91b";
	margin-left: -1em;
	color: rgb(206, 223, 232);
		font-family: 'icomoon';
}
.icon-ICON-05 .path8:before {
	content: "\e91c";
	margin-left: -1em;
	color: rgb(255, 255, 255);
		font-family: 'icomoon';
}
.icon-ICON-05 .path9:before {
	content: "\e91d";
	margin-left: -1em;
	color: rgb(255, 255, 255);
		font-family: 'icomoon';
}
.icon-ICON-05 .path10:before {
	content: "\e91e";
	margin-left: -1em;
	color: rgb(136, 94, 60);
		font-family: 'icomoon';
}
.icon-ICON-05 .path11:before {
	content: "\e91f";
	margin-left: -1em;
	color: rgb(255, 255, 255);
		font-family: 'icomoon';
}
.icon-ICON-06 .path1:before {
	content: "\e920";
	color: rgb(42, 45, 52);
		font-family: 'icomoon';
}
.icon-ICON-06 .path2:before {
	content: "\e921";
	margin-left: -1em;
	color: rgb(212, 164, 138);
		font-family: 'icomoon';
}
.icon-ICON-06 .path3:before {
	content: "\e922";
	margin-left: -1em;
	color: rgb(229, 189, 165);
		font-family: 'icomoon';
}
.icon-ICON-06 .path4:before {
	content: "\e923";
	margin-left: -1em;
	color: rgb(229, 189, 165);
		font-family: 'icomoon';
}
.icon-ICON-06 .path5:before {
	content: "\e924";
	margin-left: -1em;
	color: rgb(238, 212, 187);
		font-family: 'icomoon';
}
.icon-ICON-06 .path6:before {
	content: "\e925";
	margin-left: -1em;
	color: rgb(238, 212, 187);
		font-family: 'icomoon';
}
.icon-ICON-06 .path7:before {
	content: "\e926";
	margin-left: -1em;
	color: rgb(101, 16, 21);
		font-family: 'icomoon';
}
.icon-ICON-06 .path8:before {
	content: "\e927";
	margin-left: -1em;
	color: rgb(101, 16, 21);
		font-family: 'icomoon';
}
.icon-ICON-06 .path9:before {
	content: "\e928";
	margin-left: -1em;
	color: rgb(47, 52, 58);
		font-family: 'icomoon';
}
.icon-ICON-06 .path10:before {
	content: "\e929";
	margin-left: -1em;
	color: rgb(183, 197, 206);
		font-family: 'icomoon';
}
.icon-ICON-06 .path11:before {
	content: "\e92a";
	margin-left: -1em;
	color: rgb(27, 151, 143);
		font-family: 'icomoon';
}
.icon-ICON-06 .path12:before {
	content: "\e92b";
	margin-left: -1em;
	color: rgb(58, 64, 76);
		font-family: 'icomoon';

}
.icon-ICON-06 .path13:before {
	content: "\e92c";
	margin-left: -1em;
	color: rgb(58, 64, 76);
		font-family: 'icomoon';
}
.icon-ICON-06 .path14:before {
	content: "\e92d";
	margin-left: -1em;
	color: rgb(27, 151, 143);
		font-family: 'icomoon';
}
.icon-ICON-06 .path15:before {
	content: "\e92e";
	margin-left: -1em;
	color: rgb(255, 255, 255);
		font-family: 'icomoon';
}
.icon-ICON-06 .path16:before {
	content: "\e92f";
	margin-left: -1em;
	color: rgb(255, 255, 255);
		font-family: 'icomoon';
}
.icon-ICON-06 .path17:before {
	content: "\e930";
	margin-left: -1em;
	color: rgb(101, 16, 21);
	font-family: 'icomoon';
}
.icon-ICON-06 .path18:before {
	content: "\e931";
	margin-left: -1em;
	color: rgb(101, 16, 21);
	font-family: 'icomoon';
}
.icon-ICON-06 .path19:before {
	content: "\e932";
	margin-left: -1em;
	color: rgb(255, 255, 255);
	font-family: 'icomoon';
}
.icon-ICON-07 .path1:before {
	content: "\e933";
	color: rgb(70, 23, 17);
	font-family: 'icomoon';
}
.icon-ICON-07 .path2:before {
	content: "\e934";
	margin-left: -1em;
	color: rgb(230, 198, 172);
	font-family: 'icomoon';
}
.icon-ICON-07 .path3:before {
	content: "\e935";
	margin-left: -1em;
	color: rgb(238, 212, 187);
	font-family: 'icomoon';
}
.icon-ICON-07 .path4:before {
	content: "\e936";
	margin-left: -1em;
	color: rgb(238, 212, 187);
	font-family: 'icomoon';
}
.icon-ICON-07 .path5:before {
	content: "\e937";
	margin-left: -1em;
	color: rgb(229, 189, 165);
	font-family: 'icomoon';
}
.icon-ICON-07 .path6:before {
	content: "\e938";
	margin-left: -1em;
	color: rgb(229, 189, 165);
	font-family: 'icomoon';
}
.icon-ICON-07 .path7:before {
	content: "\e939";
	margin-left: -1em;
	color: rgb(230, 198, 172);
	font-family: 'icomoon';
}
.icon-ICON-07 .path8:before {
	content: "\e93a";
	margin-left: -1em;
	color: rgb(230, 198, 172);
	font-family: 'icomoon';
}
.icon-ICON-07 .path9:before {
	content: "\e93b";
	margin-left: -1em;
	color: rgb(255, 255, 255);
	font-family: 'icomoon';
}
.icon-ICON-07 .path10:before {
	content: "\e93c";
	margin-left: -1em;
	color: rgb(70, 23, 17);
	font-family: 'icomoon';
}
.icon-ICON-07 .path11:before {
	content: "\e93d";
	margin-left: -1em;
	color: rgb(70, 23, 17);
	font-family: 'icomoon';
}
.icon-ICON-07 .path12:before {
	content: "\e93e";
	margin-left: -1em;
	color: rgb(241, 242, 241);
	font-family: 'icomoon';
}
.icon-ICON-07 .path13:before {
	content: "\e93f";
	margin-left: -1em;
	color: rgb(230, 231, 232);
	font-family: 'icomoon';
}
.icon-ICON-07 .path14:before {
	content: "\e940";
	margin-left: -1em;
	color: rgb(70, 23, 17);
	font-family: 'icomoon';
}
.icon-ICON-07 .path15:before {
	content: "\e941";
	margin-left: -1em;
	color: rgb(255, 255, 255);
	font-family: 'icomoon';
}
.icon-ICON-07 .path16:before {
	content: "\e942";
	margin-left: -1em;
	color: rgb(255, 255, 255);
	font-family: 'icomoon';
}
.icon-ICON-08 .path1:before {
	content: "\e943";
	color: rgb(212, 164, 138);
	font-family: 'icomoon';
}
.icon-ICON-08 .path2:before {
	content: "\e944";
	margin-left: -1em;
	color: rgb(241, 242, 241);
	font-family: 'icomoon';
}
.icon-ICON-08 .path3:before {
	content: "\e945";
	margin-left: -1em;
	color: rgb(230, 231, 232);
	font-family: 'icomoon';
}
.icon-ICON-08 .path4:before {
	content: "\e946";
	margin-left: -1em;
	color: rgb(229, 189, 165);
	font-family: 'icomoon';
}
.icon-ICON-08 .path5:before {
	content: "\e947";
	margin-left: -1em;
	color: rgb(229, 189, 165);
	font-family: 'icomoon';
}
.icon-ICON-08 .path6:before {
	content: "\e948";
	margin-left: -1em;
	color: rgb(238, 212, 187);
	font-family: 'icomoon';
}
.icon-ICON-08 .path7:before {
	content: "\e949";
	margin-left: -1em;
	color: rgb(238, 212, 187);
	font-family: 'icomoon';
}
.icon-ICON-08 .path8:before {
	content: "\e94a";
	margin-left: -1em;
	color: rgb(47, 52, 58);
	font-family: 'icomoon';
}
.icon-ICON-08 .path9:before {
	content: "\e94b";
	margin-left: -1em;
	color: rgb(47, 52, 58);
	font-family: 'icomoon';
}
.icon-ICON-08 .path10:before {
	content: "\e94c";
	margin-left: -1em;
	color: rgb(158, 176, 187);
	font-family: 'icomoon';
}
.icon-ICON-08 .path11:before {
	content: "\e94d";
	margin-left: -1em;
	color: rgb(255, 255, 255);
	font-family: 'icomoon';
}
.icon-ICON-08 .path12:before {
	content: "\e94e";
	margin-left: -1em;
	color: rgb(158, 176, 187);
	font-family: 'icomoon';
}
.icon-ICON-08 .path13:before {
	content: "\e94f";
	margin-left: -1em;
	color: rgb(255, 255, 255);
	font-family: 'icomoon';
}
.icon-ICON-08 .path14:before {
	content: "\e950";
	margin-left: -1em;
	color: rgb(255, 255, 255);
	font-family: 'icomoon';
}
.icon-ICON-09 .path1:before {
	content: "\e951";
	color: rgb(70, 23, 17);
	font-family: 'icomoon';
}
.icon-ICON-09 .path2:before {
	content: "\e952";
	margin-left: -1em;
	color: rgb(70, 23, 17);
	font-family: 'icomoon';
}
.icon-ICON-09 .path3:before {
	content: "\e953";
	margin-left: -1em;
	color: rgb(70, 23, 17);
	font-family: 'icomoon';
}
.icon-ICON-09 .path4:before {
	content: "\e954";
	margin-left: -1em;
	color: rgb(230, 198, 172);
	font-family: 'icomoon';
}
.icon-ICON-09 .path5:before {
	content: "\e955";
	margin-left: -1em;
	color: rgb(238, 212, 187);
	font-family: 'icomoon';
}
.icon-ICON-09 .path6:before {
	content: "\e956";
	margin-left: -1em;
	color: rgb(238, 212, 187);
	font-family: 'icomoon';
}
.icon-ICON-09 .path7:before {
	content: "\e957";
	margin-left: -1em;
	color: rgb(229, 189, 165);
	font-family: 'icomoon';
}
.icon-ICON-09 .path8:before {
	content: "\e958";
	margin-left: -1em;
	color: rgb(229, 189, 165);
	font-family: 'icomoon';
}
.icon-ICON-09 .path9:before {
	content: "\e959";
	margin-left: -1em;
	color: rgb(230, 198, 172);
	font-family: 'icomoon';
}
.icon-ICON-09 .path10:before {
	content: "\e95a";
	margin-left: -1em;
	color: rgb(230, 198, 172);
	font-family: 'icomoon';
}
.icon-ICON-09 .path11:before {
	content: "\e95b";
	margin-left: -1em;
	color: rgb(255, 255, 255);
	font-family: 'icomoon';
}
.icon-ICON-09 .path12:before {
	content: "\e95c";
	margin-left: -1em;
	color: rgb(220, 36, 58);
	font-family: 'icomoon';
}
.icon-ICON-09 .path13:before {
	content: "\e95d";
	margin-left: -1em;
	color: rgb(186, 27, 46);
	font-family: 'icomoon';
}
.icon-ICON-09 .path14:before {
	content: "\e95e";
	margin-left: -1em;
	color: rgb(70, 23, 17);
	font-family: 'icomoon';
}
.icon-ICON-09 .path15:before {
	content: "\e95f";
	margin-left: -1em;
	color: rgb(70, 23, 17);
	font-family: 'icomoon';
}
.icon-ICON-10:before {
	content: "\e960";
	font-family: 'icomoon';
}
.icon-ICON-11:before {
	content: "\e961";
	font-family: 'icomoon';
}
.icon-user:before {
	content: "\e600";
	
}
.icon-addr:before {
	content: "\e601";
}

