body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
}

* {
	font-family: Microsoft Yahei;
	font-size: 12px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
}

body {
	background-color: #fff;
	min-width: 1024px;
}

ul,
li {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}

a {
	text-decoration: none;
}

.clearfix {
	overflow: auto;
	_height: 1%;
}


/* 楠ㄧ伆绾ф竻闄ゆ诞鍔ㄦ柟娉�*/

.clear {
	clear: both;
	overflow: hidden;
}

.pay-header {
	padding: 20px 50px;
	min-width: 1024px;
}

.pay-header .mod {
	position: relative;
	float: left;
	width: 25%;
}

.pay-content {
	width: 175px;
	height: 30px;
	margin-top: 20px;
	line-height: 30px;
	font-size: 14px;
	color: #fff;
	background: #eee;
}

.pay-header .step {
	float: left;
	width: 15%;
	text-align: center;
	background: #ccc;
}

.pay-header .step-con {
	float: left;
	width: 85%;
	padding-left: 5px;
}

.current-step .step {
	background: #30A6D6;
}

.current-step .step-con {
	background: #53C7F8;
}

.current-step .angle {
	border-left: 30px solid #53C7F8;
}

.pay-step {
	position: relative;
	width: 175px;
	background: #53C7F8;
}

.angle {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	border-left: 15px solid #eee;
	border-bottom: 15px solid #fff;
	border-top: 15px solid #fff;
}

.pay-line {
	position: absolute;
	top: 33px;
	width: 100%;
	height: 2px;
	border-radius: 3px;
	z-index: -1;
	background-color: #EFEFEF;
}

.mod.mod-4 {
	width: 13%;
	overflow: hidden;
}

.current-step .pay-content span {
	color: #fff;
}

.pay-content span {
	color: #ABABAB;
}

.pay-con {
	padding: 20px 50px;
}

.con-left {
	position: relative;
	width: 100%;
	height: auto;
	padding-right: 30%;
}

.con-right {
	position: absolute;
	right: 0;
	top: 0;
	width: 30%;
	height: 100%;
	background: #E8F3F9;
	padding: 20px;
}

.con-left-con {
	min-height: 510px;
	padding: 20px;
	border: 1px solid #ccc;
}

.con-left-top {
	padding: 20px 0;
	border-bottom: 1px solid #c0c0c0;
}

.con-left-top .row .col-md-4 {
	height: 34px;
	line-height: 34px;
	text-align: center;
}

.con-left-top .row {
	margin-bottom: 20px;
}

.dropdown {
	height: 34px;
}

.pay-con .pay-btn {
	width: 160px;
	color: #717171;
	text-align: left;
}

.dropdown-caret {
	position: absolute;
	top: 13px;
	right: 8px;
}

.col-md-4 >span {
	padding-right: 7px;
}

.con-left-bottom >p {
	margin: 10px 0;
	padding-left: 7px;
}

.table thead {
	background: #F3F3F3;
}

#my-table tr th,
#my-table tr td {
	line-height: 30px;
	color: #333;
	text-align: center;
	padding: 0;
}

ul,
li {
	list-style: none;
}

.wrap {
	min-height: 365px;
	overflow-y: auto;
}

.wrap > div {
	margin: 10px 0;
}

.item-list {
	width: 100%;
	height: auto;
}

.item-list > li {
	display: inline-block;
	height: 28px;
	line-height: 28px;
	margin: 10px 10px 0 0;
	border: 1px solid #ccc;
	background: #fff;
	text-indent: 10px;
}

.item-list > li > span {
	float: right;
	height: 25px;
	margin-right: 10px;
	line-height: 27px;
	color: #222;
	cursor: pointer;
}

.server {
	width: 100%;
	height: auto;
	margin: 10px 0;
	padding: 10px 12px;
	color: #AA730D;
	background: #FFCA64;
}

.internet {
	width: 100%;
	height: 30px;
	line-height: 30px;
	margin: 10px 0;
	background: #fff;
	text-indent: 10px;
}

.internet > span {
	float: right;
	margin-right: 10px;
	color: #999;
}

.next-btn {
	width: 100%;
	line-height: 30px;
	margin-top: 20px;
}

.my-btn {
	float: right;
	width: 82px;
}

.pay-content >span,
.col-md-4 >span,
.con-left-bottom >p {
	color: #717171;
}

.seat-alert {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 9;
	width: 560px;
	margin-left: -300px;
	padding: 0 0 30px;
	background: #fff;
}

.seat-alert .seat-header {
	padding: 10px 0;
	text-align: center;
	color: #fff;
	background-color: #00bcea;
}

.seat-con {
	padding: 20px;
}

.seat-con li {
	padding: 10px;
}

.seat-con li:not(:last-child) {
	border-bottom: #cecece 1px solid;
}

.seat-alert .btn-wrap {
	padding: 10px 0 0;
	text-align: center;
}

.seat-alert .btn-wrap .btn {
	margin-right: 10px;
}

.h {
	float: left;
	width: 100%;
	text-align: center;
}

.seat-con-l,
.seat-con-r {
	float: left;
}

.seat-con-l {
	width: 10%;
}

.seat-con-r {
	width: 90%;
}

.col {
	float: left;
	width: 20%;
	margin-bottom: 10px;
	text-align: center;
}

.b {
	display: inline-block;
	height: 28px;
	line-height: 28px;
	padding: 0 20px;
	text-decoration: none;
	color: #929292;
	background-color: #f1f1f1;
	border-radius: 20px;
}

.b:hover,
.b:focus {
	color: #fff;
}

.b:hover,
.b:link,
.b:visited,
.b:active {
	text-decoration: none;
}

.select {
	background: #5bc0de;
	color: #fff;
}

.my-server {
	width: 100%;
}


/*---------kwz绾夸笅棰勮---------*/

.wrapper {
	width: 100%;
	height: 100%;
	border: 1px solid #D5D9E7;
}

.order-left {
	position: absolute;
	top: 0;
	left: 0;
	width: 30%;
	height: 100%;
	min-height: 510px;
	background-color: #F2F2F2;
	padding: 30px 20px;
	text-align: center;
}

.order-right {
	width: 100%;
	height: auto;
	padding: 19px 50px;
	min-height: 510px;
}

.pd3 {
	padding-left: 30%;
}

.pbo {
	position: absolute;
	bottom: 50px;
	width: 65%;
}

.pd50 {
	padding-top: 50px;
}

.nbtn {
	margin-right: 30%;
}

.choose-project {
	margin-bottom: 25px;
	color: #000;
	font-size: 16px;
	text-align: left;
}

.projects {
	margin-bottom: 15px;
	padding: 10px;
	width: 100%;
	height: 40px;
	background-color: #FFF;
	color: #000;
	font-size: 16px;
	text-align: left;
}

.projects > button {
	padding: 2px 12px;
	float: right;
	background-color: #00B8EC;
	font-size: 12px;
}

.choose-user {
	text-align: center;
	color: #000;
	font-size: 16px;
	font-weight: bold;
}

.no-register {
	margin-bottom: 20px;
	text-align: right;
	font-size: 12px;
	color: #FE605F;
	cursor: pointer;
}

.circle-group {
	width: 100%;
	height: auto;
	margin-bottom: 40px;
}

.input-group > .form-control {
	padding-left: 10px;
	width: 88%;
	height: 40px;
	border: 1px solid #B8B8B8;
}

.btn-search {
	width: 100%;
	float: right;
	background-color: #FFC000;
	color: #FFF;
}

.search-result {
	width: 100%;
	height: auto;
	border-collapse: collapse;
	background-color: #F2F2F2;
}

.search-result >tbody>tr>td {
	padding-left: 30px;
	line-height: 35px;
}

.choose-name {
	position: relative;
	width: 240px;
	height: auto;
	cursor: pointer;
	border: none !important;
}

.filling-name {
	width: 100%;
	height: 38px;
	background-color: #FFF;
	border-radius: 0;
}

.gray-div {
	position: absolute;
	bottom: 1px;
	right: 1px;
	width: 40px;
	height: 36px;
	background-color: #EEE;
	text-align: center;
	line-height: 38px;
}

.company-date {
	position: absolute;
	display: none;
	width: 100%;
	height: 38px;
}

.company-date li {
	padding-left: 15px;
	border: 1px solid #CCC;
	background-color: #FFF;
	color: #7D7D7D;
	line-height: 38px;
}

.sepcial-company {
	padding-right: 15px;
	text-align: right;
	color: #53C7F8 !important;
}

.add-li {
	height: 40px;
}

.order-rights {
	width: 70%;
	height: auto;
	padding: 19px 50px;
	float: right;
	display: none;
}

.register,
.register {
	width: 90px;
	height: 36px;
	margin-right: -5px;
	border-radius: 0 !important;
	background-color: #EDEDED;
	color: #C7C7C7;
}

.current-register {
	background-color: #FEC047;
	color: #FFF;
}

.circle-content {
	width: 100%;
	height: 360px;
	border: 2px solid #FEC047;
	padding-top: 50px;
	text-align: center;
}

.table-content {
	width: 40% !important;
	margin: 0 auto !important;
	height: auto;
}

.table-content tr td {
	height: 50px;
	border-top: none !important;
}

.table-content tr td span {
	width: 50px;
	height: 30px;
	line-height: 30px;
	float: left;
	color: #CCC;
}

.input-box {
	width: 170px !important;
	height: 30px !important;
	border-radius: 0 !important;
}

.btn-sures {
	width: 80px;
	height: 40px;
	background-color: #FFC000;
	color: #FFF;
	margin-top: 30px;
}

.ceil-step,
.floor-step {
	width: 90px;
	height: 40px;
	background-color: #EBF1FF;
	margin-top: 30px;
}

.floor-step {
	float: right;
}


/*---------kwz绾夸笅棰勮---------*/

.border-content {
	position: relative;
	width: 100%;
	min-height: 510px;
	border: 1px solid #ccc;
}

.search-result .glyphicon-user {
	color: #cdcdcd;
}

.input-group .form-control:first-child {
	border-radius: 4px;
	line-height: 26px
}

.no-select {
	margin-left: 10px;
	font-size: 13px;
	font-weight: normal;
	color: #ccc;
}

.padding-20 {
	padding: 20px;
}

.border-bottom {
	border-bottom: #ccc 1px solid;
}

.padding-top {
	padding-top: 20px;
}

.content-padding {
	overflow-y: auto;
}

.server .form-control {
	margin-top: 10px;
}

.grey-server {
	color: #999;
	background-color: #F9F9F9;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	margin-bottom: -26px;
}

.expense span {
	padding: 10px;
}


/*---------zhouping pact---------*/

.pact-left {
	width: 100%;
	height: 100%;
	min-height: 510px;
	border: 1px solid #ccc;
	padding: 20px;
	text-align: center;
}

.pd15 {
	padding-right: 15%;
}

.pact-right {
	position: absolute;
	top: 0;
	right: 0;
	width: 15%;
	height: 100%;
	padding: 30px;
	background: #e8f3f9;
	text-align: center;
}

.pact-sure {
	width: 100%;
	position: absolute;
	bottom: 0;
}

.send-alert {
	box-shadow: 0px 0px 33px #676767;
	display: none;
	background: #fff;
	position: fixed;
	width: 400px;
	top: 100px;
	left: 50%;
	margin-left: -200px;
	z-index: 999;
	padding: 30px 50px;
	text-align: center;
}

.alert-close {
	display: inline-block;
	padding: 10px;
	position: absolute;
	right: 0px;
	top: 0;
	color: #286090;
	cursor: pointer;
}

.textleft {
	display: inline-block;
	margin: 10px auto;
	padding: 10px;
	text-align: left;
}

.payment {
	width: 100%;
	height: auto;
	min-height: 510px;
	border: 1px solid #ccc;
	padding: 20px;
	text-align: center;
}

.webchat-img {
	padding: 10px;
	margin-bottom: 10px;
	display: inline-block;
}

.paynum {
	line-height: 40px;
	color: orangered;
}

.paysuccess {
	margin: 0 auto;
}

.insidepay {
	width;
	400px;
	background: #F7F7F7;
	margin: 0 auto;
	padding: 10px;
	height: 500px;
}

.page-header {
	border-bottom: 1px #D5D9E7 solid;
}


/*---------zhouping pact---------*/


/*---------zhouping search-------------*/

.newcomapny {
	text-align: right;
}

.searchbox {
	background: #fcfcfc;
	margin: 0 auto;
}

.searchnew {
	background: #EFEFEF;
	border: 1px solid #DDDDDD;
	height: 300px;
	margin: 20px 0;
	text-align: center;
}

.searchnew table th {
	text-align: center;
}

.searchclose {
	color: #fff;
	color: #fff;
	position: absolute;
	right: 10px
}

.searchnew i {
	background: #ddd none repeat scroll 0 0;
	border-radius: 100%;
	color: #fff;
	height: 25px;
	line-height: 25px;
	text-align: center;
	width: 25px
}


/*---------zhouping search-------------*/


/*lijj pay-finally*/

.finaly-b >p {
	font-size: 16px;
	font-weight: bold;
}

.z-tr-d {
	position: relative;
	width: 100%;
}

.z-tr-p {
	text-indent: 114px;
	text-align: left;
}

.z-round {
	position: absolute;
	top: 50%;
	margin-top: -4px;
	left: 90px;
	width: 12px;
	height: 12px;
	border-radius: 100%;
	background-color: #ddd;
}

.z-line {
	position: absolute;
	top: -8px;
	left: 95px;
	width: 2px;
	height: 50px;
	background: #ddd;
}

.z-tr {
	background-color: #f9f9f9;
}

.z-tr-p > span {
	margin-right: 30px;
	font-size: 13px;
	color: #aaa;
}

.yhfw {
	color: #FFCA64!important;
}

.table>tbody>tr.zz-tr >td {
	border: none;
}

.finaly-r {
	padding: 30px;
}

.finaly-r >p {
	line-height: 30px;
}

.finaly-r >p.font-yell {
	margin-top: 40px;
	color: #FFCA64;
	font-size: 16px;
}

.finaly-r >span {
	padding: 0 6px;
}

.finaly-btn {
	width: 50%;
	float: left;
	margin-top: 40px;
	text-align: center;
}

.finaly-btn >.btn {
	background: #53C7F8;
	min-width: 96px;
	color: #fff;
}

.mkwidth {
	width: 30%;
}

.z-p-r {
	top: 10%;
	left: 20px;
}

.z-p-l {
	top: -15px;
	left: 25px;
	height: 100%;
}

.tl {
	text-align: left;
	padding-left: 50px;
	padding-bottom: 10px;
}

.tl >b,
.tl >p,
.tl >span {
	font-size: 13px;
}

.title {
	line-height: 35px;
}

.pp {
	color: #999;
}

.td-name {
	width: 20%;
	line-height: 17px
}

.text-right {
	margin-left: -20px;
}

.marl40 {
	margin-left: 40px;
}

.p-wrap {
	height: 400px;
	overflow-y: auto;
}

.b-wrap {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .1);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#7f000000, endColorstr=#7f000000);
}

.het >p {
	margin: 20px 0;
	text-align: left;
	text-indent: 2em;
	line-height: 25px;
}

.het {
	padding: 20px 50px;
}

.left-app {
	margin-top: 20px;
	width: 100%;
	min-height: 100px;
	background: #f0f0f0;
}

.left-app >h2 {
	width: 100%;
	padding-top: 20px;
	padding-left: 10px;
	padding-bottom: 15px;
	text-align: left;
	font-size: 16px;
}

.left-app >h2 >.btn {
	float: right;
}

.left-app >p {
	word-break: break-all;
	text-align: left;
	text-indent: 2em;
	line-height: 25px;
}

textarea {
	resize: none;
}

.update {
	width: 800px;
	margin-left: -400px;
}

#text-con {
	height: 200px;
}

.bo-wrap {
	position: relative;
	height: auto;
}

.alert-box {
	position: fixed;
	top: 50%;
	/* left: 50%; */
	margin-top: -225px;
	/* margin-left: -200px; */
	width: 450px;
	height: auto;
	padding: 30px 40px;
	border: #ccc 1px solid;
	box-shadow: 0 2px 10px #ccc;
}

.alert-box label {
	font-weight: normal;
}

.alert-box h4 {
	padding-bottom: 20px;
	text-align: center;
	font-size: 16px;
}

.alert-box h4 > i {
	float: right;
	margin-top: -15px;
	margin-right: -20px;
}

.button-group {
	text-align: center;
}

.button-group .btn {
	margin-left: 10px;
	margin-right: 10px;
}

.het .table tr td {
	text-align: left;
}

.po-ab {
	position: relative;
	/*	bottom: 0;
	right: 0;
	width: 100%;*/
	width: 100%;
	height: 100%;
}


/*zt 娉ㄥ唽寮规 2016-03-10*/

.seat-alert >.input-group {
	width: 400px;
	margin: 16px auto 0;
	padding: 0 40px;
}

.seat-alert >.a11 {
	margin-top: 33px;
}

.input-group >.btn {
	display: inline-table;
	font-size: 12px;
	padding: 6px;
}

.seat-alert >.input-group >.input-group-addon {
	width: 97px;
	text-align: right;
	background: none;
	border: none;
	color: #4E4646;
}

.seat-alert .bcc {
	width: 130px;
	margin-top: 50px;
	text-align: center;
	margin-left: 200px;
}

.seat-alert >.input-group >.form-control {
	width: 100%;
}


/*lightman*/

.window-main {
	width: 500px;
	text-align: center;
}

.window-main div {
	text-align: center;
	width: 200px;
	margin-left: 180px;
}

.window-main div p {
	margin: 10px;
}

.window-main i {
	color: #00CB6B;
	font-size: 44px;
	position: relative;
	top: 64px;
	left: -95px;
	border: 3px solid #00CB6B;
	border-radius: 50px;
	padding: 8px;
}

.window-main div span {
	color: #B6B9BB;
}


/*lightman*/


/*zhoutao 鏃堕棿*/

.w1p4 {
	width: 100%;
	padding: 4px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	text-align: center;
}

.no-pd-letf {
	padding-left: 0;
	margin-left: -6px;
}

.po-relative {
	position: relative;
}

.data-month {
	display: none;
	position: absolute;
	width: 262px;
	margin-left: -131px;
	padding: 7px 5px 20px 20px;
	border: 1px solid #eee;
	background: #fff;
}

.data-month >ul >li {
	float: left;
	width: 63px;
	margin: 13px 15px 0 0;
	text-align: center;
	color: #33AAFF;
	border: 1px solid #33AAFF;
	border-radius: 6px;
	cursor: pointer;
}

.data-month >ul >li:hover {
	color: #fff;
	background: #33AAFF;
}


/* 寮圭獥 */

.choose-companyname {
	margin-top: 3px;
	margin-bottom: -8px;
	font-size: 12px;
	color: #ABABAB;
	text-align: right;
	cursor: pointer;
}

.history-company {
	display: none;
}

.choose-hiscompany {
	width: 100%;
	height: auto;
	margin-top: 10px;
}

.choose-hiscompany li {
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: left;
	cursor: pointer;
}

.choose-hiscompany li img {
	float: right;
	height: 20px;
	margin-top: 6px;
}


/* 寮圭獥 */


/*鎴垮彿閫夋嫨*/

#special-form {
	margin-left: 6px;
}

#special-form div {
	padding: 0;
}

.con-right-first ul {
	margin-top: 8px;
	width: 100%;
	height: auto;
}

/* .con-right-first ul li {
	margin-bottom: 4px;
	padding: 0 2px;
	float: left;
	width: 25%;
	height: 40px;
} */

.show-number {
	padding: 0 10px;
	width: 100%;
	height: 40px;
	border: 1px solid #CCC;
	line-height: 40px;
	cursor: pointer;
}

.circle-icon {
	position: relative;
	float: right;
	margin-top: 9px;
	width: 22px;
	height: 22px;
	background-color: #FE605F;
	border: 1px solid #FE605F;
	border-radius: 50%;
}

.circle-icon i {
	position: absolute;
	top: 16%;
	left: 16%;
	background-color: #FE605F;
	color: #FFF;
}



.sure-agreement {
	display: none;
	width: 340px;
	height: 160px;
	text-align: center;
	margin-left: -150px;
}

.sure-agreement p {
	padding: 10px 0px;
	font-size: 16px;
	margin-bottom: 10px;
}

.sure-agreement:nth-child(2) {
	background-color: #53C7F8;
}

.sure-agreement button {
	margin: 0px 10px;
	color: #fff;
}



.card-reader .form-horizontal {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ddd;
	line-height: 34px;
}

.card-reader .form-horizontal .btn-info {
	vertical-align: super;
}
.card-reader td,.card-reader th{
	text-align: center;
	border-bottom: 1px solid #ddd;
	border-top: none;
}
.card-reader .checkbox{
	margin: 4px auto 0;
}
.card-reader .table{
	margin-bottom: 0;
}
.bottom-check{
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #eaeaea;
}
.bottom-check  .form-horizontal {
	margin: 0;
	padding-bottom: 0;
	border: none;
}
.bottom-check .checkbox{
    margin-top: -7px;
}
.bottom-check .checkbox label{
    height: 20px;
    line-height: 20px;
}
.order-card{
	width: 100%;
	height: auto;
	border-top: #ddd 1px solid;
	padding-top: 15px;
	margin-top: 10px;
	margin-bottom: 15px;
}
.yellow-header{
	width: 100%;
	height: 40px;
	line-height: 40px;
	background-color: #ffdc9e;
	padding-left: 20px;
	padding-right: 20px;
}
.order-number{
	width: 100%;
	height: auto;
	padding:10px 20px;
	background-color: #fff;
}
.order-number p{
	width: 100%;
	padding-left: 80px;
	line-height: 25px;
}
p.left-header{
	width: auto;
	float: left;
	padding-left: 0;
}
.reader-btn{
	width: 1050px;
	height: auto;
	margin: 100px auto;
	background-color: #e8f3f9;
	text-align: center;
	padding: 80px;
}
.reader-btn p{
	width: 100%;
	height: auto;
	color: #a2a7aa;
	font-size: 20px;
}
.reader-btn .btn{
	float: none;
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 25px;
}
.reader-btn a{
	color: #00b8ec;
	font-size: 21px;
	text-decoration: none;
}
.reader-btn img{
    height: 25px;
}
.card-lost .btn{
	font-size: 14px;
	margin: 0;
}
.card-lost .form-horizontal{
	margin-bottom: 20px;
    margin-left: -30px;
}
.card-lost .table th,.card-lost .table td{
	text-align: center;
}
.card-lost .table th{
	border-bottom: none;
	background-color:  #ffdc9e;
}
.card-lost .table td{
	background-color: #fff;
}
.card-lost p{
	text-align: left;
	font-size: 14px;
	margin-bottom: 20px;
}
.card-lost h4{
	margin-bottom: 30px;
	font-weight: bold;
	text-align: left;
	font-size: 16px;
}
.card-scanning {
	text-align: center;
}

.card-scanning .btn {
	font-size: 14px;
}

.card-scanning .btn-warning {
	font-size: 14px;
	margin-top: 0;
}

.scanning-con {
	width: 640px;
	height: 265px;
	margin: auto;
	padding: 100px;
	background-color: #fff;
}

.scanning-con p {
	width: 100%;
	height: auto;
	line-height: 65px;
	color: #7a7b7b;
}
.diu{margin-left: 20px;}

.black-shadow {
	display: none;
	background: black;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	opacity: 0.2;
	z-index: 10;
}