<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>HRMS-bss</display-name>
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
  
  <!-- 检查用户是否登录了系统的过滤器配置  开始  -->
	<filter>
		<filter-name>SessionFilter</filter-name>
		<filter-class>hrms.bss.filter.SessionFilter</filter-class>
		<init-param>
			<description>将当前登录的用户的信息保存在 session 中时使用的key，如果没有配置此参数，则该过滤器不起作用</description>
			<param-name>sessionKey</param-name>
			<param-value>userInfo</param-value>
		</init-param>
		<init-param>
			<param-name>redirectUrl</param-name>
			<param-value>/login</param-value>
		</init-param>
		<init-param>
			<description>
				不需要进行拦截的 url 的正则表达式，即：如果当前请求的 url 的 servletPath 能匹配该正则表达式，则直接放行（即使未登录系统）。
				此参数的值一般为 loginServlet 和 registServlet 等。
				另外，参数 redirectUrl 的值不用包含在该正则表达式中，因为 redirectUrl 对应的 url 会被自动放行。
				还有一点需要说明的是，该参数的值不包含web应用的 ContextPath。
			</description>
			<param-name>excepUrlRegex</param-name>
			<param-value>/filter/(login/login)</param-value>
		</init-param>
		
	</filter>

	<filter-mapping>
		<filter-name>SessionFilter</filter-name>
		<url-pattern>/filter/*</url-pattern>
	</filter-mapping>
  
  
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:META-INF/spring/bss-context.xml</param-value>
	</context-param>
  <listener>
    <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
  </listener>
  
	<servlet>
		<servlet-name>springmvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath*:META-INF/spring/bss-springmvc.xml
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>springmvc</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<servlet>  
	    <servlet-name>Kaptcha</servlet-name>  
	    <servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class>  
	</servlet>  
	<servlet-mapping>  
	    <servlet-name>Kaptcha</servlet-name>  
	    <url-pattern>/kaptcha.jpg</url-pattern> 
	</servlet-mapping>
	

	<welcome-file-list>
	    <welcome-file>/pages/login.jsp</welcome-file>
	  </welcome-file-list>
	<distributable />
</web-app>